.contactForm {
    display: flex;
    align-items: center;
    gap:100px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--fifth-color);
    background-color: var(--first-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
}

.formBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formBody div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
}

.contactForm h1 {
    font-size: 80px;
}

#send {
    border-radius: 5px;
    background-color: var(--fifth-color);
    color: var(--first-color)
}

#message {
    height: 100px;
    width: 250px;
    margin-bottom: 25px;
}