.home {
    width: 100%;
    align-items: center;
    color: var(--fifth-color)
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--fifth-color);
    color: var(--first-color);
  }

  #headshot {
    height: 25vh;
    border-radius: 150px;
  }
  
  .about h2 {
    font-size: 80px;
    color: var(--second-color);
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }

  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: var(--first-color);
    cursor: pointer;
  }
  
  .skills {
    background-color: var(--first-color);
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
  }

  .skills .ol {
    padding: 0 !important;
  }
  
  .skills h1 {
    color: var(--fifth-color);
  }

  .skills h2 {
    color: var(--fifth-color);
  }
  
  .skills .list {
    list-style: none;
  }
  
  .list span {
    font-size: 20px;
  }

  .skillIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fifth-color);
  }

  .skillIcons .svg {
    margin: 20px;
    font-size: 70px;
  }
  
  @media only screen and (max-width: 750px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }

    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }