.myCV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .myCV {
        display: none;
    }}