:root {
  --first-color:#fcfcfb;
  --second-color: #f7bea9;
  --third-color:  #ef98a7;
  --fourth-color: #807094;
  --fifth-color: #604f71;
}

.App {
  text-align: center;
}

body {
padding: 0;
margin: 0;
}
